<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" type = "text/css">
        <title>Ecommerce Shop</title>
        <script src="myScript.js"></script>"
    </head>


    <body>
        <div class = "grid-container">
            <header class = "header">
                <div class ="brand">
                    <button onclick="openMenu()">
                        &#9776; <!--hamburger ascii code  -->
                    </button>
                    <a href="index.html"> E-commerce Shop</a>
                </div>

                <div class ="header-links">
                    <a href = "cart.html">Cart</a>
                    <a href = "signin">Sign In</a>
                </div>
            </header>

            <aside class="sidebar">
               <h3>Shopping Categories <h3>
                   <button class="sidebar-close-button" onclick="closeMenu()">x</button>
                   <ul>
                       <li>
                           <a href="index.html">Watches</a>
                       </li>

                        <li>
                            <a href="index.html">Bags</a>
                        </li>
                   </ul>
            </aside>

            <main class = "main">
               <div class="content">
                <ul class = "products">
                    <li>
                        <div class ="product">
                            <img class ="product-image" src="images/watch1.jpg" alt="product">
                            <div class ="product-name"> <a href = "product.html">MK Lexington Smart Watch</a></div>
                            <div class ="product-brand">Michael Kors</div>
                            <div class ="product-price">£299</div>
                            <div class ="product-rating">4.6 Stars (10 Reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class ="product">
                            <img class ="product-image" src="images/watch1.jpg" alt="product">
                            <div class ="product-name"> <a href = "product.html">MK Lexington Smart Watch</a></div>
                            <div class ="product-brand">Michael Kors</div>
                            <div class ="product-price">£299</div>
                            <div class ="product-rating">4.6 Stars (10 Reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class ="product">
                            <img class ="product-image" src="images/watch1.jpg" alt="product">
                            <div class ="product-name"> <a href = "product.html">MK Lexington Smart Watch</a></div>
                            <div class ="product-brand">Michael Kors</div>
                            <div class ="product-price">£299</div>
                            <div class ="product-rating">4.6 Stars (10 Reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class ="product">
                            <img class ="product-image" src="images/watch1.jpg" alt="product">
                            <div class ="product-name"> <a href = "product.html">MK Lexington Smart Watch</a></div>
                            <div class ="product-brand">Michael Kors</div>
                            <div class ="product-price">£299</div>
                            <div class ="product-rating">4.6 Stars (10 Reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class ="product">
                            <img class ="product-image" src="images/watch1.jpg" alt="product">
                            <div class ="product-name"> <a href = "product.html">MK Lexington Smart Watch</a></div>
                            <div class ="product-brand">Michael Kors</div>
                            <div class ="product-price">£299</div>
                            <div class ="product-rating">4.6 Stars (10 Reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class ="product">
                            <img class ="product-image" src="images/watch1.jpg" alt="product">
                            <div class ="product-name"> <a href = "product.html">MK Lexington Smart Watch</a></div>
                            <div class ="product-brand">Michael Kors</div>
                            <div class ="product-price">£299</div>
                            <div class ="product-rating">4.6 Stars (10 Reviews)</div>
                        </div>
                    </li>

                    
                </ul>
               </div>
            </main>

            <footer class = "footer">
                All rights reserve. Created By M. Chris @ 2021
            </footer>
        </div>
       
    </body>
</html>